* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cena {
   width: 100%;
   height: 500px;
   border-bottom: 15px solid #02b96a;
   margin: 0 auto;
   position: relative;
   overflow: hidden;
   background: linear-gradient(#52dcff, #fafeff);
}

.coco {
    position: absolute;
    bottom: 0;
    width: 80px;
    
    animation: coco-animation 3s infinite linear;
}

.davi {
    width: 100px;
    position: absolute;
    bottom: 0;
    left: 5px;
   
}

.jump {
    animation: jump 500ms ease-in-out;
}

.clouds {
    position: absolute;
    width: 600px;
    animation: clouds-animation 5s infinite linear;
}

@keyframes coco-animation {
    from {
        right: -80px;
    }
    to {
        right: 100%;
    }
}

@keyframes jump {
    0%{
        bottom: 0;
    }
        40% {
bottom: 180px;
        }
    
     50% {
        bottom: 180px;
        }
     60%{
        bottom: 180px;
     }
        
    100% {
        bottom: 0;
        }
        
}   

@keyframes clouds-animation { 
    from { 
        right: -550px; 
    } 
    to { 
        right: 100%; 
    }
}

