* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cena {
   width: 100%;
   height: 100vh; /* Ajusta a altura para ocupar 100% da altura da tela */
   border-bottom: 5vh solid #02b96a; /* Adapte o tamanho da borda inferior */
   margin: 0 auto;
   position: relative;
   overflow: hidden;
   background: linear-gradient(#52dcff, #fafeff);
}

.coco {
    position: absolute;
    bottom: 0;
    width: 8vw; /* Largura adaptável a 10% da largura da tela */
    
    animation: coco-animation 3s infinite linear;
}

.davi {
    width: 15vw; /* Largura adaptável a 15% da largura da tela */
    position: absolute;
    bottom: 0;
    left: 2vw; /* Margem adaptável */
}

.jump {
    animation: jump 700ms ease-in-out;
}

.clouds {
    position: absolute;
    width: 80vw; /* Largura adaptável */
    animation: clouds-animation 5s infinite linear;
}

@keyframes coco-animation {
    from {
        right: -10vw; /* Começa fora da tela */
    }
    to {
        right: 100%; /* Sai do lado direito da tela */
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }
    50% {
        bottom: 40vh; /* Altura do pulo adaptável */
    }
    100% {
        bottom: 0;
    }
}

@keyframes clouds-animation {
    from {
        right: -80vw; /* Ajuste para a largura da tela */
    }
    to {
        right: 100%;
    }
}

/* Media Queries para ajustes finos em telas muito pequenas */
@media (max-width: 600px) {
    .davi {
        width: 25vw; /* Davi será maior em telas menores */
    }

    .coco {
        width: 15vw; /* Coco será maior em telas menores */
    }

    @keyframes jump {
        50% {
            bottom: 20vh; /* Reduz a altura do pulo em telas menores */
        }
    }
}
